<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
        <link rel="stylesheet" type="text/css" th:each="file : ${addCommonCss}" th:href="@{/common/css/{cssFile}.css(cssFile=${file})}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">
        <link rel="stylesheet" type="text/css" th:each="file : ${addCss}" th:href="@{/admin/css/{cssFile}.css(cssFile=${file})}">
        <th:block layout:fragment="addCss"></th:block>
        <script th:src="@{/common/js/common.js}"></script>
        <script th:each="file : ${addCommonScript}" th:src="@{/common/js/{jsFile}.js(jsFile=${file})}"></script>
        <script th:src="@{/admin/js/common.js}"></script>
        <script th:each="file : ${addScript}" th:src="@{/admin/js/{jsFile}.js(jsFile=${file})}"></script>
        <th:block layout:fragment="addScript"></th:block>
    </head>
    <body>
        <header th:replace="~{admin/outlines/header::common}"></header>
        <main layout:fragment="content"></main>
        <footer th:replace="~{admin/outlines/footer::common}"></footer>
        <iframe name="ifrmProcess" class="dn"></iframe>
    </body>
</html>