<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menu">
    <ul>
        <li>
            <a th:href="@{/admin/config}" th:classappend="${menuCode} == 'config' ? 'on'">
                <i class="xi-cog"></i>
                사이트 설정
            </a>
        </li>
        <li>
            <a th:href="@{/admin/member}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-users-o"></i>
                회원 관리
            </a>
        </li>
        <li>
            <a th:href="@{/admin/product}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-users-o"></i>
                상품 관리
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orders}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-users-o"></i>
                주문 관리
            </a>
        </li>
        <li>
            <a th:href="@{/admin/claim}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-comment-o"></i>
                취소/교환/반품
            </a>
        </li>
        <li>
            <a th:href="@{/admin/board}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-view-list"></i>
                게시판 관리
            </a>
        </li>
        <li>
            <a th:href="@{/admin/stats}" th:classappend="${menuCode} == 'member' ? 'on'">
                <i class="xi-users-o"></i>
                통계
            </a>
        </li>
    </ul>
</aside>
</html>