<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content">
    <div>
        <form  method="POST" name="write" th:action="@{/InquiryWrite}"><!--문의 작성 후 넘어갈 html 필요-->
            <input name="title" type="text">
            <textarea name="content"></textarea>
            <button type="submit">문의 작성</button>
        </form>
    </div>
</section>
</html>