<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>상품 수정</h1>
    <form name="frmSave" id=frmSave method="post" th:action="@{/admin/product/save"} autocomplete="off" th:object="${bookForm}">
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="gid" th:field="*{gid}">
        <th:block replace="~{admin/book/_form::form}"></th:block>
        <div class="btns">
            <button type="reset">다시입력</button>
            <button type="submit">수정하기</button>
        </div>
    </form>
</section>
</html>