<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>

    <!-- 같은 페이지 내에서 처리하고 갱신하기 위한 hidden 프레임 : target -->
    <form name="frmSave" method="post" th:action="@{/admin/product/save}" autocomplete="off" target="ifrmProcess" th:object="${productForm}">
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="bookNo" th:field="*{bookNo}">

        <!-- _form을 가져와 사용. -->
        <th:block th:replace="~{admin/product/_form::form}"></th:block>
        <div class="btns">
            <button type="reset">다시입력</button>
            <button type="submit">수정하기</button>
        </div>
    </form>
</section>
</html>