<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmSearch" method="get" th:action="@{/admin/product}" autocomplete="off" th:object="${productSearch}">
        <table class="table-cols">
            <tr>
                <th>판매상태</th>
                <td class="sale_status" height="70">
                    <input type="checkbox" name="itemAll" id="item_all" value="true">
                    <label for="item_all">전체</label>
                    <input type="checkbox" name="itemReady" id="item_ready" value="false">
                    <label for="item_ready">상품준비중</label>
                    <input type="checkbox" name="itemOnSale" id="item_on_sale" value="false">
                    <label for="item_on_sale">판매중</label>
                    <input type="checkbox" name="itemSoldOut" id="item_soldOut" value="false">
                    <label for="item_soldOut">품절</label>
                    <input type="checkbox" name="itemStop" id="item_stop" value="false">
                    <label for="item_stop">판매중지</label>
                <th>분류</th>
                <td>
                    <select name="cateCd">
                        <option value>분류 선택</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>도서번호</th>
                <td>
                    <input type="text" name="bookNo">
                </td>
                <th>키워드검색</th>
                <td>
                    <div class="input_grp">
                        <select name="sort">
                            <option value="all">통합검색</option>
                            <option value="bookNm">도서명</option>
                            <option value="bookNo">도서번호</option>
                        </select>
                        <input type="text" name="searchKey" placeholder="검색어 입력">
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit">검색하기</button>
        </div>
    </form>
    <br>
    <h2>상품목록</h2>
    <form name="frmList" method="post" target="ifrmProcess" autocomplete="off">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="hidden" name="mode" value="edit">
        <table class="table-rows">
            <thead>
            <tr>
                <th width="30">
                    <input type="checkbox" class="check_all" id="check_all" data-target-name="chkNo">
                    <label for="check_all" class="standalone"></label>
                </th>
                <th width="50">수정</th>
                <th width="70">도서번호</th>
                <th width="100">도서명</th>
                <th width="100">판매상태</th>
                <th width="100">재고수량</th>
                <th width="100">판매가</th>
                <th width="100">출판일</th>
                <th width="100">저자</th>
                <th width="100">출판사</th>
                <th width="100">원산지</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${items == null || items.isEmpty()}">
                <tr>
                    <td colspan="11" class="no_data">등록된 상품이 없습니다.</td>
                </tr>
            </th:block>
            </th:block>
            </tbody>
        </table>
    </form>
</section>
</html>