<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="member_box">
        <h1 th:text="${pageTitle}"></h1>
        <form name="frmJoin" method="POST" th:action="@{/member/join}" autocomplete="off" th:object="${joinForm}">
            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

            <ul>
                <th:block th:replace="~{front/member/_form::form}"></th:block>
                <li>
                    <div th:text="#{member.term}"></div>
                    <div th:utext="${@utils.getConfig('joinTerms')}"></div>
                    <input type="checkbox" name="agree" th:field="*{agree}" id="agree">
                    <label for="agree" th:text="#{member.term.agree}"></label>
                    <div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
                </li>
            </ul>
            <button type="submit" th:text="#{btn.join}"></button>
        </form>
    </div>
</main>
</html>