<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<div layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmSave" method="post" th:action="@{/member/myInfo}" autocomplete="off" th:object="${joinForm}">
        <div class="errors global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <ul>
            <th:block th:replace="~{front/member/_form::form}"></th:block>
        </ul>
        <button type="submit" th:text="#{btn.change}"></button>
    </form>
</div>
</html>