<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmMain" method="post" autocomplete="off" target="ifrmProcess">
        <table class="table-cols">

            <tr>
                <th>test</th>
                <td>

                </td>
            </tr>
        </table>
    </form>
</section>
</html>