<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <section>
        <div class="header_layout" style="top: 0px;">
            <div class="headerTop">
                <div class="headerTopContainer">
                    <div class="top_menu">
                        <a th:href="@{/admin/}"></a>
                    </div>
                    <div class="top_menu">
                        <a th:href="@{/order/cart}" class="menu_item">장바구니</a>
                    </div>
                    <div class="top_menu">
                        <a th:href="@{/member/myInfo}" class="menu_item">마이페이지</a>
                    </div>
                    <div class="top_menu">
                        <!-- 일단은 admin 쪽으로 연결시켰는데 페이지 하나 만드는게 좋을까요? -->
                        <a th:href="@{/admin/review}" class="menu_item">고객문의</a>
                    </div>
                    <th:block sec:authorize="isAnonymous()"> <!--로그인 X-->
                        <div class="top_menu">
                            <a th:href="@{/member/join}" th:text="#{title.join}" class="menu_item">회원가입</a>
                        </div>
                        <div class="top_menu">
                            <a th:href="@{/member/login}" th:text="#{title.login}" class="menu_item">로그인</a>
                        </div>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()"> <!--로그인 O-->
                        <div class="top_menu">
                            <a th:href="@{/member/logout}" th:text="#{title.logout}" class="menu_item">로그아웃</a>
                        </div>
                        <div class="top_menu">
                            <span th:text="${#messages.msg('login.msg', session.userInfo.userNm, session.userInfo.email)}" id="wel_message"></span>
                        </div>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" th:text="#{title.siteAdmin}" class="menu_item"></a>
                    </th:block>
                </div>

                <div class="search_field">
                    <div class="searchbar">
                        <div class="search">
                            <input class="searchbar_1">
                            <i class="xi-search"></i>
                            <!-- js 추가해서 클릭시 검색창 기능 구현 예정 -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="headerMiddle">
                <h1 class="headL">
                    <a th:href="@{/}" id="logo">로고 영역
                        <!-- 로고 src 주소만 변경하면 됩니다. -->
                        <img src="/front/images/logo.png" alt="북따옴">
                    </a>
                </h1>
            </div>

            <div class="headerBottom">
                <div class="view_list">
                    <div class="menu_bottom" style="padding: 0 28px;">
                        <div class="menu_item">
                            <a th:href="@{/}" class="menu_bts">전체보기</a>
                            <div class="all_categories">
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">IT</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">소설</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">문학</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">취미</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">사전</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">역사</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">문제집</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">만화</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu_bottom" style="padding: 0 28px;">
                        <div class="menu_item">
                            <a th:href="@{/}" class="menu_bts">베스트도서</a>
                        </div>
                    </div>
                    <div class="menu_bottom" style="padding: 0 28px;">
                        <div class="menu_item">
                            <a th:href="@{/}" class="menu_bts">이벤트</a>
                            <div class="all_categories_event">
                                <!-- 이벤트 페이지 만드시면 여기에 링크 연결하시면 됩니다! -->
                                <div class="category">
                                    <a th:href="@{member/event}" class="category_name">이벤트 공지</a>
                                </div>
                                <div class="category">
                                    <a th:href="@{/}" class="category_name">이벤트</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu_bottom" style="padding: 0 28px;">
                        <div class="menu_item">
                            <a th:href="@{/}" class="menu_bts">나의서점</a>
                            <!-- 나의 서점은 판매자가 손쉽게 자신이 판매하고 있는 상품을 볼 수 있도록 하기 위해 넣었습니다. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
</html>
